@font-face {
    font-family: 'Optima';
    src: url('Optima.woff2') format('woff2'),
        url('Optima.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
