@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@keyframes shine {
  from {
    opacity: 0;
    left: 0%;
  }
  50% {
    opacity: 1;
  }
  to {
    opacity: 0;
    left: 100%;
  }
}
.banner.home-banner::before {
  background: linear-gradient(270deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.7) 100%), linear-gradient(0deg, rgba(0, 0, 0, 0) 14%, rgba(0, 0, 0, 0.7) 100%);
}
.banner.home-banner .bg {
  height: calc(100vh - var(--headerfixed));
}
@media only screen and (max-width: 1400px) {
  .banner.home-banner .bg {
    height: 100vh;
  }
}
@media only screen and (max-width: 991px) {
  .banner.home-banner .bg {
    height: calc(100vh - var(--headerfixed));
  }
}
@media only screen and (max-width: 768px) {
  .banner.home-banner .bg {
    height: 80vh;
  }
}
.banner.home-banner .bg .banner-wrapper {
  width: 100%;
  top: 50%;
  translate: 0 -50%;
}
@media only screen and (max-width: 768px) {
  .banner.home-banner .bg .banner-wrapper {
    top: 50%;
    translate: 0 -50%;
  }
}
@media only screen and (max-width: 1300px) {
  .banner.home-banner .bg .banner-wrapper .container-fluid, .banner.home-banner .bg .banner-wrapper .container {
    padding: 0 25px;
  }
}
@media only screen and (max-width: 768px) {
  .banner.home-banner .bg .banner-wrapper .container-fluid, .banner.home-banner .bg .banner-wrapper .container {
    padding: 0 15px;
  }
}
@media only screen and (max-width: 345px) {
  .banner.home-banner .bg .banner-wrapper .container-fluid, .banner.home-banner .bg .banner-wrapper .container {
    padding: 0 13px;
  }
}
@media only screen and (max-width: 320px) {
  .banner.home-banner .bg .banner-wrapper .container-fluid, .banner.home-banner .bg .banner-wrapper .container {
    padding: 0 10px;
  }
}
.banner.home-banner .bg .banner-wrapper .container-fluid .content .subtag, .banner.home-banner .bg .banner-wrapper .container .content .subtag {
  font-size: 36px;
  line-height: 1.2;
  max-width: 410px;
}
.banner.home-banner .bg .banner-wrapper .container-fluid .content .text-slider, .banner.home-banner .bg .banner-wrapper .container .content .text-slider {
  height: 120px;
}
.banner.home-banner .bg .banner-wrapper .container-fluid .content .text-slider h2, .banner.home-banner .bg .banner-wrapper .container .content .text-slider h2 {
  font-size: 100px;
  line-height: 1;
}
.banner.home-banner .bg .banner-wrapper .container-fluid .content .btn, .banner.home-banner .bg .banner-wrapper .container .content .btn {
  margin-top: 20px;
}
.banner.home-banner .bg .banner-wrapper .container-fluid .content .patent_wrap, .banner.home-banner .bg .banner-wrapper .container .content .patent_wrap {
  margin-top: 60px;
  align-items: center;
}
.banner.home-banner .bg .banner-wrapper .container-fluid .content .patent_wrap .flag-img, .banner.home-banner .bg .banner-wrapper .container .content .patent_wrap .flag-img {
  padding-right: 20px;
  border-right: 1px solid var(--white);
}
.banner.home-banner .bg .banner-wrapper .container-fluid .content .patent_wrap .flag-img img, .banner.home-banner .bg .banner-wrapper .container .content .patent_wrap .flag-img img {
  height: auto;
}
.banner.home-banner .bg .banner-wrapper .container-fluid .content .patent_wrap .info, .banner.home-banner .bg .banner-wrapper .container .content .patent_wrap .info {
  flex: 1;
  padding-left: 20px;
}
.banner.home-banner .bg .banner-wrapper .container-fluid .content .patent_wrap .info p, .banner.home-banner .bg .banner-wrapper .container .content .patent_wrap .info p {
  font-size: 14px;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 0;
}
.banner.home-banner .bg .banner-wrapper .container-fluid .content .patent_wrap .info h6, .banner.home-banner .bg .banner-wrapper .container .content .patent_wrap .info h6 {
  font-size: 18px;
  font-weight: 700;
  line-height: 1.2;
}

.home-secA {
  background: var(--gradient-a);
}
.home-secA .heading {
  max-width: 520px;
  margin: 0 auto;
  text-align: center;
}
.home-secA .heading h2 {
  color: var(--primary);
  font-size: 48px;
}
.home-secA .heading p {
  color: var(--colortext);
}
.home-secA .heading .btn_wrap {
  justify-content: center;
  margin-top: 30px;
}
.home-secA .disease_sec {
  position: relative;
  padding-top: 100px;
  overflow: hidden;
  transition: 1s ease;
  position: relative;
  z-index: 0;
}
.home-secA .disease_sec::before {
  content: "";
  position: absolute;
  width: 200px;
  height: 200px;
  background-color: #2946B6;
  filter: blur(100px);
  border-radius: 50%;
}
.home-secA .disease_sec::before {
  z-index: -1;
  right: 35%;
  top: 20%;
  filter: blur(60px);
}
.home-secA .disease_sec.completed {
  transition: 1s ease;
}
.home-secA .disease_sec.completed .disease_wrap .colA, .home-secA .disease_sec.completed .disease_wrap .colB {
  transform: translateX(0%);
}
.home-secA .disease_sec.completed .bacteria.fade-left.bacteria1, .home-secA .disease_sec.completed .bacteria.fade-left.bacteria3 {
  animation: fade-left 1s ease forwards;
}
.home-secA .disease_sec.completed .bacteria.fade-right.bacteria2, .home-secA .disease_sec.completed .bacteria.fade-right.bacteria4 {
  animation: fade-right 1s ease forwards;
}
.home-secA .disease_sec .bacteria {
  position: absolute;
  width: 80px;
  height: 80px;
  transition: 1s ease;
}
@keyframes scale {
  0%, 100% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.5);
  }
}
@keyframes scale2 {
  0%, 100% {
    transform: scale(1.5);
  }
  50% {
    transform: scale(0.8);
  }
}
@keyframes fade-left {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(-30vw);
  }
}
@keyframes fade-right {
  0% {
    transform: translateX(0vw);
  }
  100% {
    transform: translateX(30vw);
  }
}
.home-secA .disease_sec .bacteria.bacteria1 {
  top: 12%;
  left: 10%;
  animation: scale 3s ease infinite forwards;
}
.home-secA .disease_sec .bacteria.bacteria2 {
  top: 0%;
  right: 2%;
  animation: scale2 3s ease infinite backwards;
}
.home-secA .disease_sec .bacteria.bacteria3 {
  bottom: 10%;
  left: 16%;
  animation: scale2 3s ease infinite forwards;
}
.home-secA .disease_sec .bacteria.bacteria4 {
  bottom: 20%;
  right: 10%;
  animation: scale 3s ease infinite backwards;
}
.home-secA .disease_sec .disease_wrap {
  align-items: center;
}
.home-secA .disease_sec .disease_wrap .colA, .home-secA .disease_sec .disease_wrap .colB {
  flex: 1;
  width: 100%;
  max-width: 50%;
}
.home-secA .disease_sec .disease_wrap .colA {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  transform: translateX(50%);
  transition: 1s ease;
}
.home-secA .disease_sec .disease_wrap .colA .cirle_area {
  width: 350px;
  height: 350px;
  position: relative;
  border: 1px solid var(--primary);
  border-radius: 50%;
  padding: 30px;
}
.home-secA .disease_sec .disease_wrap .colA .cirle_area .circle_div {
  line-height: 0;
}
.home-secA .disease_sec .disease_wrap .colA .cirle_area .circle_div img {
  border-radius: 50%;
}
.home-secA .disease_sec .disease_wrap .colA .cirle_area.animation_active .disease {
  animation-play-state: running;
}
.home-secA .disease_sec .disease_wrap .colA .cirle_area .disease {
  position: absolute;
  color: var(--white);
  font-size: 16px;
  line-height: 1.5;
  max-width: 91px;
  text-align: right;
  opacity: 0;
  animation: fadeIn 0.6s forwards paused;
  animation-delay: calc(var(--index) * 0.9s);
}
@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.home-secA .disease_sec .disease_wrap .colA .cirle_area .disease::before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  background: var(--primary);
  border-radius: 50%;
  top: 50%;
}
.home-secA .disease_sec .disease_wrap .colA .cirle_area .disease:nth-child(2) {
  bottom: 30%;
  left: -30%;
  --index: 0;
}
.home-secA .disease_sec .disease_wrap .colA .cirle_area .disease:nth-child(2)::before {
  right: -32%;
}
.home-secA .disease_sec .disease_wrap .colA .cirle_area .disease:nth-child(3) {
  bottom: 55%;
  left: -31%;
  --index: 1;
}
.home-secA .disease_sec .disease_wrap .colA .cirle_area .disease:nth-child(3)::before {
  right: -31%;
}
.home-secA .disease_sec .disease_wrap .colA .cirle_area .disease:nth-child(4) {
  top: 2%;
  left: -17%;
  --index: 2;
}
.home-secA .disease_sec .disease_wrap .colA .cirle_area .disease:nth-child(4)::before {
  right: -44%;
}
.home-secA .disease_sec .disease_wrap .colA .cirle_area .disease:nth-child(5) {
  top: -11%;
  left: 42%;
  --index: 3;
}
.home-secA .disease_sec .disease_wrap .colA .cirle_area .disease:nth-child(5)::before {
  top: 131%;
  left: 35%;
}
.home-secA .disease_sec .disease_wrap .colA .cirle_area .disease:nth-child(6) {
  top: -3%;
  right: -14%;
  max-width: 100%;
  --index: 4;
}
.home-secA .disease_sec .disease_wrap .colA .cirle_area .disease:nth-child(6)::before {
  top: 81%;
  left: -22%;
}
.home-secA .disease_sec .disease_wrap .colA .cirle_area .disease:nth-child(7) {
  max-width: 145px;
  text-align: left;
  top: 13%;
  right: -40%;
  --index: 5;
}
.home-secA .disease_sec .disease_wrap .colA .cirle_area .disease:nth-child(7)::before {
  left: -24%;
  top: 35%;
}
.home-secA .disease_sec .disease_wrap .colA .cirle_area .disease:nth-child(8) {
  max-width: 145px;
  text-align: left;
  top: 37%;
  right: -31%;
  --index: 6;
}
.home-secA .disease_sec .disease_wrap .colA .cirle_area .disease:nth-child(8)::before {
  left: -48%;
  top: 15%;
}
.home-secA .disease_sec .disease_wrap .colA .cirle_area .disease:nth-child(9) {
  text-align: left;
  top: 52%;
  right: -23%;
  --index: 7;
}
.home-secA .disease_sec .disease_wrap .colA .cirle_area .disease:nth-child(9)::before {
  left: -60%;
  top: 15%;
}
.home-secA .disease_sec .disease_wrap .colA .cirle_area .disease:nth-child(10) {
  text-align: left;
  top: 65%;
  right: -29%;
  --index: 8;
}
.home-secA .disease_sec .disease_wrap .colA .cirle_area .disease:nth-child(10)::before {
  left: -30%;
  top: 15%;
}
.home-secA .disease_sec .disease_wrap .colA h3 {
  font-size: 36px;
  max-width: 320px;
  text-align: center;
  line-height: 1.1;
}
.home-secA .disease_sec .disease_wrap .colB {
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: 1s ease;
}
.home-secA .disease_sec .disease_wrap .colB figure {
  max-width: 500px;
}

.home-secB::before {
  background: rgba(0, 0, 0, 0.45);
}
.home-secB .bg {
  height: 80vh;
}
.home-secB .bg .banner-wrapper.heading {
  text-align: center;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -40%);
}
.home-secB .bg .banner-wrapper.heading h6 {
  font-size: 36px;
  line-height: 1;
  font-weight: 200;
}
.home-secB .bg .banner-wrapper.heading h6 span {
  font-weight: 300;
}
.home-secB .bg .banner-wrapper.heading h2 {
  font-size: 64px;
  text-transform: uppercase;
}
.home-secB .bg .banner-wrapper.heading p {
  max-width: 380px;
  margin: 10px auto 0;
  line-height: 1.5;
  font-weight: 300;
}
.home-secB .bg .banner-wrapper.heading .btn {
  margin: 20px auto 0;
}
.home-secB .bg .banner-wrapper.content {
  top: unset;
  bottom: 10%;
  translate: 0 10%;
  width: 100%;
}
.home-secB .bg .banner-wrapper.content > .flex {
  justify-content: space-between;
}
.home-secB .bg .banner-wrapper.content > .flex .colA {
  flex: 0 1 auto;
  display: flex;
  align-items: center;
}
.home-secB .bg .banner-wrapper.content > .flex .colA .col {
  line-height: 1.2;
  gap: 15px;
}
.home-secB .bg .banner-wrapper.content > .flex .colA .col .icon {
  flex: 0 1 45px;
  width: 45px;
  height: 45px;
}
.home-secB .bg .banner-wrapper.content > .flex .colA .col .info {
  flex: 1;
  max-width: 150px;
}
.home-secB .bg .banner-wrapper.content > .flex .colA .col .info p {
  font-size: 13px;
  font-weight: 300;
  margin-bottom: 3px;
}
.home-secB .bg .banner-wrapper.content > .flex .colA .col .info h6 {
  font-family: "Poppins";
  font-size: 15px;
  line-height: 1.1;
  font-weight: 600;
}
.home-secB .bg .banner-wrapper.content > .flex .colA .col:first-child {
  padding-right: 20px;
  border-right: 1px solid var(--white);
}
.home-secB .bg .banner-wrapper.content > .flex .colA .col:last-child {
  padding-left: 20px;
}
.home-secB .bg .banner-wrapper.content > .flex .colB {
  flex: 0 1 auto;
  align-items: center;
  gap: 10px;
  line-height: 1.2;
}
.home-secB .bg .banner-wrapper.content > .flex .colB .icon {
  flex: 0 1 45px;
  width: 45px;
}
.home-secB .bg .banner-wrapper.content > .flex .colB p {
  flex: 1;
  max-width: 250px;
  font-weight: 500;
  margin-top: 15px;
}

.home-secC .flex {
  gap: 50px;
  justify-content: space-between;
  position: relative;
}
.home-secC .flex .colA {
  flex: 0 1 auto;
  max-width: 400px;
}
.home-secC .flex .colA h6 {
  font-weight: 600;
  color: var(--black);
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 5px;
}
.home-secC .flex .colA p {
  color: var(--text);
  font-size: 14px;
}
.home-secC .flex .colA .btn {
  margin-top: 20px;
}
.home-secC .flex .colB {
  flex: 0 1 auto;
  width: 240px;
  position: absolute;
  left: 50%;
  top: -47%;
  transform: translate(-50%, -47%);
  z-index: 2;
}
.home-secC .flex .colC {
  flex: 0 1 auto;
  max-width: 400px;
}
.home-secC .flex .colC h6 {
  font-weight: 600;
  color: var(--black);
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 5px;
}
.home-secC .flex .colC p {
  color: var(--text);
  font-size: 14px;
}
.home-secC .flex .colC .cnts {
  display: flex;
  gap: 30px;
  margin-top: 20px;
}
.home-secC .flex .colC .cnts .content {
  flex: 0 1 auto;
  text-align: center;
}
.home-secC .flex .colC .cnts .content .icon {
  width: 35px;
  height: 35px;
  margin: 0 auto 5px;
}
.home-secC .flex .colC .cnts .content p {
  color: var(--black);
  font-size: 14px;
  line-height: 1.3;
}

.home-secD {
  background: var(--gradient-a);
  padding: 80px 0;
}
.home-secD .flex {
  --gap: 80px;
  gap: var(--gap);
}
.home-secD .colA {
  flex: 0 1 45%;
  max-width: 45%;
  width: 100%;
}
.home-secD .colA figure {
  width: 100%;
  height: 425px;
  border-radius: 25px;
}
.home-secD .colA figure video {
  width: 100%;
  height: 100%;
  border-radius: 25px;
  -o-object-fit: cover;
     object-fit: cover;
}
.home-secD .colB {
  flex: 1;
  max-width: calc(100% - var(--gap));
  width: 100%;
}
.home-secD .colB h3 {
  font-size: 40px;
  font-weight: 400;
  padding-bottom: 10px;
  margin-bottom: 10px;
  position: relative;
}
.home-secD .colB h3::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background: var(--primary);
  height: 4px;
  width: 50px;
}
.home-secD .colB .desc {
  padding: 10px 0 20px;
  max-width: 560px;
}

.home-secE .heading {
  text-align: center;
  margin-bottom: 3rem;
}
.home-secE .heading h3 {
  color: var(--black);
  font-size: 48px;
}
.home-secE .product_sec {
  position: relative;
}
.home-secE .product_sec .product-slider {
  max-width: 98%;
  padding: 10px;
}

.home-secF {
  background: linear-gradient(90deg, #D1EBF4, #45C8F5);
}
.home-secF .colA {
  padding: 60px 10px 80px;
  max-width: 600px;
  flex: 0 1 auto;
}
.home-secF .colA .heading h3 {
  font-family: "Poppins";
  font-size: 36px;
  color: var(--black);
  font-weight: 400;
}
.home-secF .colA .heading h3 span {
  font-weight: 700;
}
.home-secF .colA .heading .subhead {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 15px;
  margin: 15px 0 25px;
}
.home-secF .colA .heading .subhead p {
  font-weight: 600;
  color: #009EC9;
  flex: 0 1 auto;
}
.home-secF .colA .heading .subhead .line {
  width: 100%;
  height: 2px;
  background: var(--primary);
  flex: 1;
}
.home-secF .colA .properties_sec {
  position: relative;
}
.home-secF .colA .properties_sec .properties-nav button {
  border: 1px solid #45C8F5;
  box-shadow: 0 16px 56px 0 rgba(17, 17, 26, 0.1019607843);
}
.home-secF .colA .properties_sec .properties-nav button svg path {
  fill: var(--primary);
}
.home-secF .colA .properties_sec .property-slider {
  max-width: 96%;
}
.home-secF .colA .properties_sec .property-slider .property_col {
  background: var(--white);
  padding: 20px;
  display: flex;
  gap: 15px;
  border-radius: 5px;
}
.home-secF .colA .properties_sec .property-slider .property_col .count {
  flex: 0 1 auto;
  font-size: 24px;
  font-weight: 600;
  color: #2DC8F2;
}
.home-secF .colA .properties_sec .property-slider .property_col .info {
  flex: 1;
}
.home-secF .colA .properties_sec .property-slider .property_col .info h6 {
  color: var(--black);
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 5px;
}
.home-secF .colA .properties_sec .property-slider .property_col .info p {
  color: var(--text);
  font-size: 14px;
  line-height: 1.3;
}
.home-secF .colA .btn {
  margin-top: 25px;
}
.home-secF .colB {
  flex: 1;
  position: relative;
}
.home-secF .colB .couple {
  position: absolute;
  bottom: 0;
  line-height: 0;
  width: 590px;
}
.home-secF .colB .product {
  position: absolute;
  width: 290px;
  left: 0;
  bottom: -10%;
}

.home-secG {
  padding: 120px 0 80px;
}
.home-secG .heading {
  text-align: center;
  margin-bottom: 4rem;
}
.home-secG .heading h3 {
  color: var(--black);
  font-size: 48px;
}
.home-secG .patents_sec .patents_slider .swiper-wrapper {
  align-items: center;
  transition-timing-function: linear !important;
}
.home-secG .patents_sec .patents_slider .swiper-wrapper .patent_col {
  width: 100%;
  height: 100%;
  text-align: center;
}
.home-secG .patents_sec .patents_slider .swiper-wrapper .patent_col figure {
  width: 100px;
  margin: 0 auto 5px;
}
.home-secG .patents_sec .patents_slider .swiper-wrapper .patent_col figure img {
  -o-object-fit: contain;
     object-fit: contain;
}
.home-secG .patents_sec .patents_slider .swiper-wrapper .patent_col p {
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: var(--black);
}

.thankyou-banner .bg {
  height: 100vh;
}
.thankyou-banner .banner-wrapper {
  top: 70%;
  translate: 0 -70%;
}
.thankyou-banner .banner-wrapper .content {
  max-width: 875px;
  text-align: center;
  margin: 0 auto;
}
.thankyou-banner .banner-wrapper .content p {
  font-size: 18px;
}
.thankyou-banner .banner-wrapper .content .btn {
  margin: 20px auto 0;
}/*# sourceMappingURL=home.css.map */